.content{
	padding: 44px 0 50px 0; 
}
.content .gift_present{
	background: url(../images/borgrayt.png) repeat-x top #fff;
    background-size: 1px 1px;
}
.content .gift_present .present_souvenir{
	overflow: hidden;
    padding: 12px;
}
.content .gift_present .present_souvenir ul{
	margin:0;
}
.content .gift_present .present_souvenir ul li{
	width: 25%;
    height: auto;
    float: left;
    padding: 3px;
}
.content .gift_present .present_souvenir ul li a {
	display: block;
    width: auto;
    height: auto;
    font-size: 0;
    border-radius: 5px;
    background: #e2e2e2;
    position: relative;
}
.content .gift_present .present_souvenir ul li a .img{
	width: auto;
	height: auto;
}
.content .gift_present .present_souvenir ul li a .img img{
	width: 100%;
}
.content .gift_present .present_souvenir ul li a .con{
	width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 3px;
    z-index: 2;
    text-align: center;
}
.present_souvenir ul li a .con .name{
	font-size: 10px;
    color: #333;
}
.present_souvenir ul li a .con .note{
	font-size: 8px;
    color: #999;
}
.gift_present .giftform{
	padding: 5px 15px 20px 80px;
	position: relative;
	overflow: hidden;
}
.gift_present .giftform .txtbox{
	height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #333;
    position: absolute;
    left: 15px;
    top: 5px;
}
.gift_present .giftform .inpbox{
	width: 50%;
    height: 30px;
    float: left;
    padding-right: 15px;
}
.gift_present .giftform .inpbox input{
	display: block;
    width: 100%;
    height: 30px;
    line-height: 14px;
    padding: 7px 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 12px;
    color: #666666;
}
.gift_present .giftform .btnbox{
	width: 50%;
    height: 30px;
    float: left;
}
.gift_present .giftform .btnbox input{
	display: block;
    width: 100%;
    height: 30px;
    border: 1px solid #fa655b;
    background: #fff;
    border-radius: 5px;
    font-size: 12px;
    color: #fa655b;
    text-align: center;
    line-height: 20px;
}
.itemlmobile_title{
	height: 42px;
    text-align: center;
    font-size: 18px;
    color: #333;
    line-height: 42px;
    background: url(../images/borgrayb.png) repeat-x bottom #ffffff;
    background-size: 1px 1px;
}
.itemlmobile_title .lb{
	display: inline-block;
    background: url(../images/giftrank-tit.png) no-repeat left center;
    background-size: 10px 7px;
    padding-left: 20px;
}
.itemlmobile_title .lb .rb{
	display: inline-block;
    background: url(../images/giftrank-tit.png) no-repeat right center;
    background-size: 10px 7px;
    padding-right: 20px;
}
.present_Crunchies .present_Crunchies-note{
	text-align: center;
    padding: 16px 0;
}
.present_Crunchies .present_Crunchies-note .box{
	display: inline-block;
    width: auto;
    height: 22px;
    line-height: 22px;
    padding: 0 35px 0 55px;
    position: relative;
    font-size: 12px;
    color: #fff;
    border-radius: 15px;
    background: linear-gradient(to left, #f58762 , #fb5b5b 70%, #ff5391);
}
.present_Crunchies-note .box .icon{
	display: block;
    width: 26px;
    height: 26px;
    background: url(../images/givegift.png) no-repeat center #ffcc33;
    background-size: 14px 14px;
    border: 2px solid #f58762;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -13px;
    border-radius: 50%;
    font-size: 0;
    line-height: 0;
}
.present_Crunchies-note .box .num{
	color: #ffcc00;
}
.present_Crunchies .present_Crunchies-list{
	background: #ffffff;
    background-size: 1px 1px;
}
.present_Crunchies .present_Crunchies-list ul{
	margin: 0;
}
.present_Crunchies .present_Crunchies-list ul li{
	background: url(../images/borgrayt.png) repeat-x top;
    background-size: 1px 1px;
}
.present_Crunchies-list ul li .box{
	height: 60px;
	position: relative;
}
.present_Crunchies-list ul li .box .num{
	width: 50px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    color:#333;
}
.present_Crunchies-list ul li .box .num1 {
	color:#ff3333;
	font-weight: bold;
}
.present_Crunchies-list ul li .box .num2{
	color:#ff9900;
	font-weight: bold;
}
.present_Crunchies-list ul li .box .num3{
	color:#97dfeb;
	font-weight: bold;
}
.present_Crunchies-list ul li .box .portrait {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50px;
    top: 50%;
    margin-top: -20px;
}
.present_Crunchies-list ul li .box .portrait a img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.present_Crunchies-list ul li .box .portrait span.vip {
    display: block;
    width: 14px;
    height: 14px;
    border: 1px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 14px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.present_Crunchies-list ul li .box .portrait span.vip1 {
    background-image: url(../images/giftrank-list-vip1.png);
}
.present_Crunchies-list ul li .box .con{
	padding-left: 105px;
}
.present_Crunchies-list ul li .box .con .name{
	line-height: 20px;
    font-size: 14px;
    color: #333;
    padding-top: 10px;
}
.present_Crunchies-list ul li .box .con .name a{
	color:#333;
}
.present_Crunchies-list ul li .box .con .txt{
	line-height: 20px;
    font-size: 12px;
    color: #999;
}
.present_Crunchies-list ul li .box .price{
	position: absolute;
    right: 15px;
    top: 0;
}
.present_Crunchies-list ul li .box .price a{
	display: block;
    width: auto;
    height: 60px;
    line-height: 60px;
    background: url(../images/arrright.png) no-repeat right center;
    background-size: 10px 5px;
    padding-right: 20px;
    font-size: 18px;
    color: #ff3333;
}
.present_Crunchies-list ul li .box .price a span{
	font-size: 12px;
}






