.mui-table-view.mui-grid-view{
	padding:0;
}
.mui-table-view{
	background: #efeff4;
}
.mui-table-view.mui-grid-view .mui-table-view-cell{
	padding: 0;
	background: #fff;
}
.overview-tit{
	padding: 15px;
    font-size: 14px;
    text-align: left;
}
.overview-tit a{
	color: #333;
}
